.sn-chatlist{
    display: flex;
width: 19.5rem;
padding: 0rem 1.5rem;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
align-self: stretch;
background-color: black;
}
.sn-spaceship-list{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.75rem;
border: 1px solid var(--noble-black-600, #1A1D21);
}
.sn-chat-p{
    color: var(--noble-black-300, #9B9C9E);

/* Body/M/SemiBold */
font-family: Plus Jakarta Sans;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00938rem;
}
.sn-heading-chat{
    display: flex;
align-items: center;
gap: 0.5rem;
align-self: stretch;
}
.sn-divider{
    width: 16.5rem;
height: 0.0625rem;
background-color:  #9B9C9E;
}
.sn-itemlist-chat{
    display: flex;
width: 18rem;
padding: 0.75rem;
justify-content: space-between;
align-items: center;
border-radius: 0.75rem;
opacity: 0.5;
}
.sn-itemlistspace-chat{
    display: flex;
width: 18rem;
padding: 0.75rem;
justify-content: space-between;
align-items: center;
border-radius: 0.75rem;
}
.sn-chevron{
    width: 1.25rem;
height: 1.25rem;
}
.sn-icon-chat{
    width: 1.5rem;
height: 1.5rem;
}
